            <!-- Cette valeur sera identique pour toutes les routes car elle provient d'un fichier commun. -->
            <footer>
                <p> {{{__ 'common.copyright'}}} </p>
            </footer>
        </div>