<!DOCTYPE html>
<!-- Injection dynamique de la langue pour la route courante via `languageCode`. -->
<html lang="{{__ 'common.lang'}}">
    <head>
        <meta charset="utf-8">
        <title>{{__ 'common.title'}}</title>
        <!-- Injection dynamique de l'url absolue du site jusqu'à sa racine. -->
        <base href="/">
        <!-- Liste des styles CSS disponibles pour toutes les pages. -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/common.css">

        <link rel="icon" type="image/png" href="media/images/logo.png" />

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script type="text/javascript" src="js/parallax.min.js"></script>